#titre{
    text-align: center;
}

#contenu_jeu{
    display: grid;
    grid-template-columns: 1fr 200px; /* 1fr pour le plateau, 200px pour la zone des pièces */
    gap: 20px;
    justify-items: center; /* centre horizontalement chaque élément dans sa colonne */
    align-items: start;    /* commence en haut */
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}


#container {
    display: grid;
    grid-template-columns: 300px 150px; /* 300px pour le plateau, 150px pour la zone des pièces */
    gap: 50px; /* espace entre les deux zones */ 
}
#board{
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 5px;
}

.cell {
    background-color: #e0e0e0;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.piece1 {
    display: grid;
    grid-template-columns: repeat(2, 60px); 
    grid-auto-rows: 60px;
    border-radius: 20px;
    gap: 5px;
    cursor: grab;
    
}

